<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="con" value="Data Source=10.249.**.**;Initial Catalog=PMAY;User ID=sa;Password=*******;Max Pool Size=3000;Min Pool Size=5" />
  </appSettings>
</configuration>